#work {
    height: 970px;
    background-image: url("https://wallpapercave.com/wp/wp2288271.jpg");
    background-size: 100%;
    background-repeat: none;
    text-align: center;
}

.phone {
    height: 450px;
}

#trip {
    margin-top: 25px;
}

.info {
    margin-top: 0px;
}

@media only screen and (max-width:1024px) {
    #work {
        height: 100%;
        background-size: 100% 100%;
    }
    #menuloc {
        margin-top: 50px;
    }
}

@media only screen and (max-width:768px) {
    #work {
        height: 100%;
        background-size: 100% 100%;;
    }

    .laptop {
        width: 400px;
    }

    #liri {
        margin-top: 60px;
    }

    #trip {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px) {
#work {
    height: 3200px;
    background-size: 110% 110%;
}

.phone {
    max-width: 400px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
}

.phone.laptop {
    margin-top: -50px;
}

.laptop {
    margin-bottom: -75px;
}

.info {
    max-width: 400px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
}
}

@media only screen and (max-width: 375px) {
#work {
    height: 3300px;
}
.laptop {
    max-width: 350px;
}
}